
body {
    font-family: 'Roboto', sans-serif;
  }
  

#outer-container{ 
    display:grid;
    grid-template-rows: 100vh;
    grid-template-columns: 20vw 80vw;
   
    font-size: 20px;

}

#navbar{
    display:flex;
    flex-direction:column;
    background: rgb(57, 184, 226);
    /* color:white; */
    padding: 2vh;
    
}
#navbar-content p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-size: 16px;
    color: white;
    line-height: 27px;
   
  }
  
#navbar-content{
  padding-left: 20px;
}
#navbar-heading{
    font-size: 25px;
    padding-left: 20px;
}

#inner-container{
    background-color: #efefef;
    display: grid;
    grid-template-rows: 20vh 80vh;
}
#search-div{
    background-color: white;
    display: grid;
    grid-template-columns: 50vw 30vw;
    grid-template-rows: 10vh 10vh;
    

}
#search-bar {
    width: 100%;           
    max-width: 80%;      
    padding: 0.5rem 1rem;   
    font-size: 1rem;        
    border: 1px solid #ccc;
    border-radius: 17px;
    height: 40px;           
    box-sizing: border-box; 
    background-color: #cacacad0;
  }
.search-div-inner{
    display: flex;
    justify-content: center;
    padding: 10px;
  
   align-items: center;
   
  
}
#display-container{}
i{
    font-size: 30px;
}
#icons{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
}
#inner-UserDisplay{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
   
}
#shortCuts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.shortcut-btn{
    background-color: rgb(58, 149, 214);
    color:white;
    height: 30px;

    width: 8vw;
    font-size: 20px;
    border-radius: 7%;
    border: 0px;
    font-weight:normal;
}
.shortcut-btn:hover{
    font-size: 25px;
    cursor: pointer;
}
#display-container{
    display: flex;
   flex-direction: row; 



}
#left{
    display: flex;
    flex-direction: column;
    width: 51vw;
}
#right{
    display: flex;
    flex-direction: column;
    width: 29vw;
    padding-top: 3%;
}
#left-grid{

     display: grid;
    padding:3%;
    padding-top: 0;
    grid-template-columns: repeat(2,24vw);
    gap: 3%;
    grid-template-rows: repeat(3,23vh);
    align-items: center;
    

    
}
.card{
    background-color: white;
    border-left: 5px solid red;
    padding: 2%;
    padding-top: 0%;
    border-radius: 7%;
    border-top-left-radius:0 ;
    border-bottom-left-radius:0 ;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
             
    padding: 16px;       
  

}
.title{
font-size: 25px;
font-weight: bold;
}
.info{
font-size: 17px;
padding-left: 10px;
}

#right-grid{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
   

}
.right-card{
    background-color: white;
    width: 20vw;
    padding-left: 10px;
    height: 27vh;
    margin: 10px;
    border-radius: 5%;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
                     
    padding: 16px;                           
           
    

}
.title{
    padding-left: 10px;
    font-weight: bolder;
}
.sub-title{
    padding:2px;
    font-weight: bold;
    
}
.card-icons{
    display: flex;
    justify-content: end;
   gap: 20px;
}
.material-icons {
    font-size: 20px;
    color: #000000;
  }
.material-icons:hover{
    font-size: 35px;
    cursor: pointer;
}
hr{
    width: 80%;
}
i:hover{
    cursor: pointer;
    font-size: 25px;
}
